body {
    margin:0;
    padding:0
}

:root {
    --white: #fff;
    --black: #333;
}

header{
    z-index: 10000;
    position: relative;
    padding: 40px 80px;
    width: auto;
}

header .header-logo, header .header-submenu, header .header-submenu--container {
    position: relative;
    display: flex;
    justify-content: center;
}

header .header-submenu--container {
    width: 430px;
    justify-content: space-evenly;
}

header .submenu-left, header .submenu-right {
    position: relative;
}

header .header-submenu--container a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    display: inline-flex;
}

header .header-submenu--container .submenu-right a:after {
    transform-origin: bottom right;
}

header .submenu-left a:after, header .submenu-right a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s;
}
header .submenu-left a:hover:after, header .submenu-right a:hover:after {
    transform: scaleX(1);
}

header .logo {
    color: var(--black);
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    display: inline-flex;
}


.main iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
}

.main .project-list {
    z-index: 4;
    position: absolute;
    transform-origin: bottom left;
    transition: transform 0.3s;
    transform: scaleX(0);
    background: var(--white);
    border: 1px solid var(--black);
    border-left: none;
}

.main .project-list.show {
    transform: scaleX(1);
}

.main .project-list ul {
    padding: 30px;
}

.main .project-list li {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
}

.main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

  